@charset "UTF-8";
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 80px; /* 로고와 상단의 간격 조정 */
    margin-bottom: -30px; /* 로고와 로그인 박스 사이의 간격 조정 */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* 로그인 박스의 높이를 컨텐츠에 맞추기 위해 auto로 설정 */
    flex-direction: column;
    margin-top: 20px; /* 로그인 박스를 아래로 이동 */
    margin-bottom: 100px; /* 푸터와의 간격을 확보하기 위해 추가 */
}

.login-box {
    background-color: white;
    width: 420px;
    padding: 80px 40px 60px; /* 상단 패딩을 80px로 늘리고 하단 패딩을 60px로 설정 */
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    min-height: 600px; /* 높이를 늘려서 박스가 충분히 커지도록 수정 */
    margin-top: 30px; /* 로고와 로그인 박스 사이의 간격 설정 */
}

.login-box p {
    font-size: 20px;
    margin-bottom: 40px; /* 설명 텍스트와 로그인 폼 간의 간격을 충분히 확보하도록 설정 */
    margin-top: 0px; /* 텍스트와 상단 간격을 충분히 주어 요소가 겹치지 않도록 함 */
}

.login-box .input-fields {
    margin-bottom: 30px; /* 입력란과 로그인 버튼 사이의 간격을 늘려서 겹치지 않도록 조정 */
}

.login-box button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin-bottom: 15px; /* 각 버튼 사이의 간격을 늘림 */
    cursor: pointer;
    text-align: center;
}

.login-box button i {
    position: absolute;
    left: 15px;
}

.login-box .google-btn {
    background-color: #4285f4; /* 구글 블루 배경색 */
    font-size: 12px; /* 버튼 텍스트 크기 */
    line-height: 1; /* 줄 간격 */
    display: inline-flex; /* 버튼 내부의 요소들이 한 줄에 표시되도록 설정 */
    align-items: center; /* 아이콘과 텍스트가 수직으로 중앙에 정렬 */
    cursor: pointer; /* 마우스 커서가 버튼 위에 있을 때 손가락 모양으로 변경 */
    transition: all 0.3s ease-in-out; /* 모든 상태 변화에 트랜지션 효과 */
    font-weight: 500; /* 글씨 두께 */
    font-family: 'font-body'; /* 폰트 패밀리 */
    text-align: center; /* 텍스트 중앙 정렬 */
    border: none; /* 테두리 없음 */
    outline: none; /* 포커스 시 외곽선 없음 */
    border-radius: 0.55rem; /* 모서리 둥글게 */
    color: white; /* 기본 텍스트 색상 */
    padding: 1rem 1.25rem; /* 상하 패딩 1rem, 좌우 패딩 1.25rem */
    justify-content: center; /* 아이콘과 텍스트를 가운데 정렬 */
    width: 100%; /* 너비 100% */
    margin-top: -0.5rem; /* 위쪽 여백 */
    
    height: 2.75rem; /* 높이 */
}

.google-btn:hover {
    background-color: #357ae8; /* 호버 시 더 어두운 구글 블루 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 호버 시 그림자 */
}

.google-btn i {
    font-size: 1rem; /* 아이콘 크기 */
    margin-right: 0.375rem; /* 텍스트와 아이콘 사이 간격 */
    margin-left: 0.575rem; /* 아이콘을 오른쪽으로 이동시키기 위한 여백 */
    display: flex; /* 아이콘 래퍼를 flex 컨테이너로 설정 */
    align-items: center; /* 아이콘을 수직으로 중앙 정렬 */
}

.label-google {
    font-size: 14px; /* 글씨 크기 조정 */
    flex-grow: 1; /* 텍스트가 가능한 공간을 차지하도록 설정 */
    margin-right: 1.375rem; /* 아이콘과 텍스트 사이 공간 */
    text-align: center; /* 텍스트는 왼쪽 정렬 */
    margin-left: 35px; /* 텍스트 왼쪽에 여백 추가하여 오른쪽으로 밀기 */
}


.naver-btn {
    background-color: #03C75A;
}
.naver-login-btn {
    font-size: 12px; /* 버튼 텍스트 크기 */
    line-height: 1; /* 줄 간격 */
    display: inline-flex; /* 버튼 내부의 요소들이 한 줄에 표시되도록 설정 */
    align-items: center; /* 아이콘과 텍스트가 수직으로 중앙에 정렬 */
    cursor: pointer; /* 마우스 커서가 버튼 위에 있을 때 손가락 모양으로 변경 */
    transition: all 0.3s ease-in-out; /* 모든 상태 변화에 트랜지션 효과 */
    font-weight: 500; /* 글씨 두께 */
    font-family: 'font-body'; /* 폰트 패밀리 */
    text-align: center; /* 텍스트 중앙 정렬 */
    border: none; /* 테두리 없음 */
    outline: none; /* 포커스 시 외곽선 없음 */
    border-radius: 0.375rem; /* 모서리 둥글게 */
    color: white; /* 기본 텍스트 색상 */
    padding: 1rem 1.25rem; /* 상하 패딩 1rem, 좌우 패딩 1.25rem */
    background-color: #03C75A; /* 네이버 그린 배경색 */
    justify-content: center; /* 아이콘과 텍스트를 가운데 정렬 */
    width: 100%; /* 너비 100% */
    margin-top: -0.5rem; /* 위쪽 여백 */
    height: 2.75rem; /* 높이 */
}

.naver-login-btn:hover {
    background-color: #02b053; /* 호버 시 더 어두운 네이버 그린 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 호버 시 그림자 */
}

.icon-wrapper {
    font-size: 1rem; /* 아이콘 크기 */
    margin-right: 0.375rem; /* 텍스트와 아이콘 사이 간격 */
    margin-left: 0.775rem; /* 아이콘을 오른쪽으로 이동시키기 위한 여백 */
    display: flex; /* 아이콘 래퍼를 flex 컨테이너로 설정 */
    align-items: center; /* 아이콘을 수직으로 중앙 정렬 */
}

.label-naver {
	font-size: 14px; /* 글씨 크기 조정 */
    flex-grow: 1; /* 텍스트가 가능한 공간을 차지하도록 설정 */
    margin-right: 1.375rem; /* 아이콘과 텍스트 사이 공간 */
    text-align: center; /* 텍스트는 왼쪽 정렬 */
}

.login-box .kakao-btn {
    background-color: #fee500;
    color: #3c1e1e;
}

.login-box .phone-btn {
    background-color: white;
    color: black;
    border: 1px solid #ddd;
}

.login-box .checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px; /* 체크박스와 위의 요소들 사이의 간격을 늘림 */
    font-size: 14px;
}

.login-box .checkbox input {
    margin-right: 5px;
}

.login-box small {
    color: gray;
    margin-top: 10px; /* 체크박스 아래 설명 텍스트와의 간격 추가 */
    display: block;
}
